@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4e4e7;
  --foreground: #18181b;
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
  }

  h1 {
    @apply mb-4 text-2xl;
  }

  p {
    @apply text-lg;
  }
}

@layer components {
  .nice {
    @apply rounded p-2;
  }

  .border-base {
    @apply border-accent border-2 border-solid;
  }

  .input {
    @apply nice border-base border-[1.5px] bg-background;
  }

  .button {
    @apply nice bg-accent text-background;
  }
}
